.content {
  width: 100%;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 8px;
  background: #f3f4f6;  
  border-radius: 6px;
  height: 52px;
}
