.button {
  background: #5D5FEF;
  width: 100%;
  border-radius: 6px;
  height: 48px;
  padding: 16px 0px 17px 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: white;
  text-align: center;
  border: 1px solid #e2e3e581;
}